{{template "layout/head.html" .}}

<script src="/assets/js/g.js"></script>

<script>
$(function() {
	$("#query").keypress(function(e) {
		var key = e.which;
		if (key == 13) {
			query_team();
		}
	});
});
</script>


<div class="page-breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#">User</a>
		</li>
		<li class="active">Teams</li>
	</ul>
</div>

<div class="page-header position-relative">

</div>

<div class="page-body">

	<div class="col-xs-12 col-md-9">
		<div role="form">
			<div class="form-group">
				<input type="text" value="{{.Query}}" class="form-control" id="query"
					   placeholder="query name">
			</div>
			<button type="button" onclick="query_team();" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
				Search
			</button>

			<a href="/me/team/c" class="btn btn-default pull-right">
				<span class="glyphicon glyphicon-plus"></span>
				Add
			</a>
		</div>
		<div class="well with-header with-footer">
			<div class="header bg-blue">
				Team List
			</div>
			<table class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>
						Team
					</th>
					<th>
						Description
					</th>
					<th>
						Members
					</th>
					<th>

					</th>
				</tr>
				</thead>
				<tbody>
				{{range .Teams}}
				<tr>
					<td>
						{{.Name}}
					</td>
					<td>
						{{.Resume}}
					</td>
					<td>
						{{range member .Id}}
						<code class="users">{{.Name}}</code>
						{{end}}
					</td>
					<td>
						<a href="/target-team/edit?id={{.Id}}" class="orange" style="text-decoration:none;">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<span class="cut-line">¦</span>
						<a href="javascript:delete_team('{{.Id}}');" class="orange" style="text-decoration:none;">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
				{{end}}
				</tbody>
			</table>
			{{template "layout/paginator.html" .}}
		</div>

	</div>
</div>


{{template "layout/foot.html" .}}